# Clé API – ne JAMAIS commiter
.env

# Environnement virtuel
venv/
.venv/

# Base vectorielle générée
data/faiss_index.bin
data/chunks_meta.json

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.DS_Store
